head, body,div, span, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav  {
  margin: 0;
  font: inherit;
  padding: 0;
  height: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
